*{
    font-family: 'Segoe UI', serif;
    transition:all 0.2s ease-in-out;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: #2274A5;
    color: white;
}

body{
    background-color: #f3f0f0;
}

#logo_url{
    color: #383F51;
}

#logo_url:hover{
    color: #2274A5;

}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #2274A5;
    font-weight: bold;
}

header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    left: 0; right:0; top: 0;
    z-index: 5;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

nav li{
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}

.nav_dropdown_menu{
    position: relative;
}

.nav_dropdown_menu .nav_dropdown_submenus{
    display: none;
    position: absolute;
    background: white;
    padding: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 150px;
    border-radius: 5px;
    border-width: 0;
}

.nav_dropdown_menu:hover .nav_dropdown_submenus{
    display: block;
}

.nav_dropdown_submenus li{
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    box-shadow: 10px 2px 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0; right:0; bottom: 0;
    z-index: 5;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    background-color: whitesmoke;
    align-items: center;
    width: 50vw;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40vw;
    height: 40px;
}

.radio-content-container{
    display: flex;
}

.radio-content, #form_agree_tnc{
    margin-left: 5px;
    margin-right: 5px;
}

input, label{
    font-size: large;
}

form input{
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-width: 0;
    padding: 10px;
    background-color: whitesmoke;
}

form input:focus, form input:hover{
    background-color: white;
    outline: none;
}

.btn{
    background-color: whitesmoke;
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 0;
    color: #0a0b0c;
    padding: 1vh 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn:hover{
    background-color: white;
    text-decoration: none;
    color: #2274A5;
}

.btn-blue{
    background-color: #2274A5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-width: 0;
    padding: 1vh 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.5s;
    transition: color 0.5s;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-blue:hover{
    background-color: white;
    text-decoration: none;
    color: #2274A5;
}

#error{
    color: maroon;
    text-align: center;
}

.container{
    max-height: 50vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.container h1{
    font-size: 16pt;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-row {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 100%;
    align-items: center;
}

.card {
    display: flex;
    width: 40vw;
    min-height: 200px;
    height: 100%;
    flex-direction: column;
    scroll-snap-align: start;
    margin: 7px;
    padding: 0 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    justify-content: center;
}

.card a{
    text-decoration: none;
}
.card a h4{
    font-size: 12pt;

}
.card a h2{
    font-size: 14pt;
}
.card img{
    border-radius: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.item-main{
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    justify-content: space-evenly;
    padding: 5vh 5vw 5vh 5vw;
    background-color: white;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#item_pic{
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.item-lr{
    width: 40vw;
    padding: 1vw;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .item-main{
        flex-direction: column;
    }

    #item_pic{
        width: 100%;
    }

    .item-lr{
        width: 100%;
    }

    .card-row {
        flex-direction: column;
        
    }

    .container h1{
        text-align: center;
    }

    form{
        width: 80vw;
    }

    .form-row{
        width: 70vw;
    }

    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#item_name{
    font-size: xx-large;
    font-weight: 400;
}

.slider-carousel{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -5;
    height: 100%;
    width: 100%;
}

.carousel{
    overflow: hidden;
}

.carousel-container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 0px;
    width: 100vw;
}

.carousel-container img{
    object-fit: contain;
    border-radius: 10px;
    border-width: 0;
}

.arrow-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 5;
    cursor:pointer;
    background-color: whitesmoke;
    border-radius: 10px;
    border-width: 0;
    margin-top: -20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

}
.carousel-arrow{
    position: relative;
    font-size: 50px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}

#register_page{
    background-image: url('assets/register_page.jpg');
}

#promotions_page{
    background-image: url('assets/promotions_page.jpg');
}

#tickets_page{
    background-image: url('assets/tickets_page.jpg');
}